    * {
        text-align: center;
    }
    
    input {
        margin-bottom: 30px;
        width: 20%;
    }
    
    input:invalid {
        border: 1px solid red;
    }
    
    input,
    input:valid {
        border-color: #ccc;
    }
    
    #id {
        margin-left: 10px;
        margin-right: 50px;
    }
    
    #email {
        margin-left: 10px;
        margin-right: 40px;
    }
    
    .btn {
        width: 100px;
        padding: 5px;
        margin: 10px;
        border: 1px solid rgb(141, 141, 141);
        background-color: rgb(236, 234, 234);
    }
    
    #NotFound {
        color: red;
        font-size: 30px;
    }
    
    #DisplayInTable {
        border: 1px solid black;
        border-collapse: collapse;
        margin: 0 auto;
        width: 60%;
    }
    
    th {
        border: 1px solid black;
        padding: 5px;
        text-align: center;
        background-color: rgb(241, 173, 219);
    }
    
    td {
        border: 1px solid black;
        padding: 5px;
        text-align: center;
    }